html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
* {
	outline: none;
	-webkit-tap-highlight-color: none;
}
.toolbar {
	margin: 5px;
}
.settings {
	text-align: center;
}
.settings p {
	margin: 0 2px 0 0;
	padding: 0;
	display: inline-block;
	height: 14px;
	vertical-align: top;
}
.settings input[type=checkbox] {
	height: 14px;
	margin: 0;
}
.toolbar:not(.settings) {
	display: flex;
}
.settings button {
	background: #f0f0f0;
	border-radius: 2px;
	width: 90px;
	height: 18px;
	box-sizing: border-box;
	margin: 0 0 5px 0;
	padding: 2px 5px;
	line-height: 0;
	border: none;
	box-shadow: 1px 1px 1px black;
	vertical-align: middle;
}
input[type=number], .settings div {
	border: none;
	width: 90px;
	height: 18px;
	box-sizing: border-box;
	margin: 0 0 5px 0;
	padding: 2px 5px;
	background: white;
	color: #686868;
	box-shadow: 1px 1px 1px black;
	display: inline-block;
	vertical-align: middle;
}
.settings div {
	line-height: 14px;
	width: auto;
}
#genInputRange {
	flex: 1;
	margin: 0 10px;
}
#creatureContainer {
	text-align: center;
}
.creature {
	margin: 10px;
	display: inline-block;
	width: 300px;
	height: 300px;
	max-width: calc(100% - 22px);
	max-height: calc(100% - 22px);
	border: solid black 2px;
	padding: 5px;
	vertical-align: middle;
}
